.site-footer {
  
  .site-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;   
    a { 
    text-decoration: none;
    color: #0c0;
    }
     width: 100%;
     
     .main-navigation {
       .page_item {
        padding-right: 2rem;
        }
     }
   }
}